@model PagedList.IPagedList<sci.Models.Mem>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";

}

<h2>Soci</h2>
<table>

</table>

<table class="table">
    <tr>
        <td colspan="3">
            @using (Html.BeginForm("Index", "Mems", FormMethod.Post))
            {

                @Html.Raw("Ricerca per Nominativo o Codice: ");

                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new
           {
               @class = "flexdatalist",
               placeholder = "Programming language name",
               name = "language22",
               list = "languages",
               //data = ANDREBBE SOSTITUITO A LIST, INSERENDO LA LISTA DI TUTTI I NOMI
               multiple = "",
               SelectList = "1",
               MinLengthAttributeAdapter = "1",
               
           })



                <datalist id="languages">

                @foreach (var item in Model)
                    {
                         if (item.Cognome != null && item.Nome != null && item.Cognome.Length > 2)
                             {
                              <option value="scelta">
                               @Html.DisplayFor(modelItem => item.Cognome)

                               @Html.DisplayFor(modelItem => item.Nome)

                               @Html.DisplayFor(modelItem => item.Cod)
                              </option>
                              }
                      }

                </datalist>
            }</td>

            <td>
                @using (Html.BeginForm("Create", "Mems", FormMethod.Get))
            {
                    <input type="submit" value="Nuovo Socio" />
                }
            </td>
            </tr>

            <tr>
                <th>
                    @Html.ActionLink("Cognome", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    Nome
                </th>
                <th>
                    @Html.ActionLink("Codice", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                if (item.Cognome != null && item.Nome != null && item.Cognome.Length > 2)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cognome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cod)
                        </td>
                        <td>
                            @Html.ActionLink("Dettagli Socio", "Details", new { id = item.Cod })
                        </td>
                    </tr>
                }


            }

        </table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

@section Scripts {

 

    @Scripts.Render("~/bundles/jqueryval")
    
<link href="~/Scripts/jquery.flexdatalist.min.css" rel="stylesheet" type="text/css"/>
<script src="~/Scripts/jquery.flexdatalist.min.js"></script>
<a href="~/Views/Mems/countries.json">~/Views/Mems/countries.json</a>
<script>
    $('.flexdatalist').flexdatalist({
        selectionRequired: true,
        minLength: 1
    });
</script>
    
}
