@model sci.Models.Convenzioni

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Convenzioni</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ncopie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ncopie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatConv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatConv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pag.Tiscr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pag.Tiscr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TabConv.DescrConv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TabConv.DescrConv)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
