@model sci.Models.TabCarica

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TabCarica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescrCarica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescrCarica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelCarica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelCarica)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CodCarica }) |
    @Html.ActionLink("Back to List", "Index")
</p>
