@{


    if (Session["UserID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }

    string admin = Session["UserName"].ToString();

    if (admin == "admin")
    {
        <!DOCTYPE html>
        <html>
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>@ViewBag.Title - Applicazione ASP.NET</title>
            @Styles.Render("~/Content/css")
            @Scripts.Render("~/bundles/modernizr")
            @Scripts.Render("~/bundles/jquery")

        </head>
        <body>

            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <img src="../imm/logosci.jpg" alt="Società Chimica Italiana" height="52" width="100" top="10">
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Lista Soci", "Index", "Mems")</li>
                            <li>@Html.ActionLink("Soci", "Edit", new RouteValueDictionary(new { controller = "Pags", action = "Main", AnnoP = 2017, CodP = 962 }))</li>
                            <li>@Html.ActionLink("Iscrizioni", "Index", "Pags")</li>
                            <li>@Html.ActionLink("Posta", "Index", "Mailing")</li>
                            <li>@Html.ActionLink("Stampe", "Index", "Stampe")</li>


                            <li class="dropdown">
                                <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Gestione Tabelle <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Sesso", "Index", "TabSexes", null, new { id = "TabSexes" })</li>
                                    <li>@Html.ActionLink("Cariche", "Index", "TabCaricas", null, new { id = "TabCaricas" })</li>
                                    <li>@Html.ActionLink("Nazioni", "Index", "TabNazs")</li>
                                </ul>
                            </li>

                            <li style="left:340px; color:white; top:13px; font-family:Ebrima; font-size:18px;">
                                Profilo:  @Session["UserName"].ToString()

                            </li>
                            <li style="left:355px; font-family:Ebrima; font-size:18px;">
                                <a href="@Url.Action("LogOut","Login")">Logout</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Societ&agrave; Chimica Italiana</p>
                </footer>
            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")

        </body>
    </html>
    }
    else
    {
        <!DOCTYPE html>
        <html>
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>@ViewBag.Title - Applicazione ASP.NET</title>
            @Styles.Render("~/Content/css")
            @Scripts.Render("~/bundles/modernizr")

        </head>
        <body>

            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <img src="../imm/logosci.jpg" alt="Società Chimica Italiana" height="52" width="100" top="10">
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Lista Soci", "Index", "Mems")</li>
                            <li>@Html.ActionLink("Soci", "Edit", new RouteValueDictionary(new { controller = "Pags", action = "Main", AnnoP = 2017, CodP = 962 }))</li>
                            <li>@Html.ActionLink("Iscrizioni", "Index", "Pags")</li>
                            <li>@Html.ActionLink("Posta", "Index", "Posta")</li>
                            <li>@Html.ActionLink("Stampe", "Index", "Stampe")</li>


                           

                            <li style="left:340px; color:white; top:13px; font-family:Ebrima; font-size:18px;">
                                Profilo:  @Session["UserName"].ToString()

                            </li>
                            <li style="left:355px; font-family:Ebrima; font-size:18px;">
                                <a href="@Url.Action("LogOut","Login")">Logout</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Societ&agrave; Chimica Italiana</p>
                </footer>
            </div>

            
            @Scripts.Render("~/bundles/bootstrap")

        </body>
    </html>
    }


    @RenderSection("scripts", required: false)

}

