@model sci.Models.TabSex

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TabSex</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescrSex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescrSex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelSex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelSex)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CodSex }) |
    @Html.ActionLink("Back to List", "Index")
</p>
